
SellerAppNetworkingMarketplace\.xcworkspace/xcuserdata/stephane\.xcuserdatad/xcdebugger/Breakpoints_v2\.xcbkptlist

SellerAppNetworkingMarketplace\.xcworkspace/xcuserdata/stephane\.xcuserdatad/UserInterfaceState\.xcuserstate

SellerAppNetworkingMarketplace\.xcodeproj/xcuserdata/stephane\.xcuserdatad/xcschemes/xcschememanagement\.plist

Pods/Pods\.xcodeproj/xcuserdata/stephane\.xcuserdatad/xcschemes/xcschememanagement\.plist

Pods/Pods\.xcodeproj/xcuserdata/morales\.xcuserdatad/xcschemes/Alamofire\.xcscheme
